<div class="card-container">
  <form [formGroup]="roleForm">
    <mat-card>
      <mat-card-title>{{ name || "New Role" }}</mat-card-title>
      <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Role Name" formControlName="roleName" required>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="updateRole()"
          mat-flat-button color="primary"
          [disabled]="!roleForm.valid"
          *ngIf="name">Update</button>
        <button
          (click)="createRole()"
          mat-flat-button
          color="primary"
          [disabled]="!roleForm.valid"
          *ngIf="!name">Create</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
