.action-button button,
.action-button a {
  margin-right: 8px;
}

li {
  list-style: none;
}

ul li:first-child:before {
  content: "•";
  margin-left: -20px;
  margin-right: 7px;
  font-size: 20px;
  }