<div class="card-container">
  <form [formGroup]="clientRoleForm">
    <mat-card>
      <mat-card-title>{{ role || 'New Client Role' }}</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input
            type="text"
            placeholder="Select Client"
            aria-label="Number"
            matInput
            formControlName="client"
            (change)="searchKeyUp()"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let client of clients | async"
              (click)="addClient(client)"
              [value]="client.name"
            >
              {{ client.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field >
          <input
            type="text"
            placeholder="Select FrappeInstance"
            aria-label="Number"
            matInput
            formControlName="frappeInstance"
          (change)="searchFrappeInstance()"
            [matAutocomplete]="auto1"
          />
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option
              *ngFor="let frappeInstance of frappeInstances | async"
              (click)="addFrappeInstance(frappeInstance)"
              [value]="frappeInstance.name"
            >
              {{frappeInstance.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <mat-form-field>
          <mat-select placeholder="Roles" formControlName="role" single>
            <mat-option *ngFor="let role of roles" [value]="role">{{
              role
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
              *ngFor="let user of users"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(user)"
            >
              {{ user }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add Users"
              #usersInput
              [formControl]="usersControl"
              [matAutocomplete]="auto2"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
              (keyup)="userKeyUp()"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto2="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let users of filteredUsers | async"
              [value]="users"
            >
              {{ users }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="createUser()"
          mat-flat-button
          color="primary"
          [disabled]="!clientRoleForm.valid"
          *ngIf="!uuid"
        >
          Create
        </button>
        <button
          (click)="updateUser()"
          mat-flat-button
          color="primary"
          [disabled]="!clientRoleForm.valid"
          *ngIf="uuid"
        >
          Add Users
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
